button {
    cursor: pointer;
}

/* menu styling */
.tile > h2 {
    padding: 0.5em;
}

.seeMenuSub {
    padding: 0.5em;
}

.tile {
flex-grow: 0;

}
/* drinks styling */

.drinkResult {
    border: 1px solid black;
    padding: 1em;
    border-color: #efefef;

}

.drinkResult > p {
    padding: 1em;
}

.drinkResult > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
    margin: 10px;
}

.drinks > li {
    padding: 0.5em;
}

.drinkName {
    color: #946c00;
    font-weight: bold;
}

/* starter styling */

.starter-result {
    border: 1px solid black;
    padding: 1em;
    border-color: #efefef;

}

.starter-result > p {
    padding: 0.5em;
}

.starter-result > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
    margin: 10px;
}

.starter > li {
    padding: 0.5em;
}

.starterName {
    color: #946c00;
    font-weight: bold;
}

/* starter styling */

.entree-result {
    border: 1px solid black;
    padding: 1em;
    border-color: #efefef;

}

.entree-result > p {
    padding: 0.5em;
}

.entree-result > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
    margin: 10px;
}

.entree > li {
    padding: 0.5em;
}

.entreeName {
    color: #946c00;
    font-weight: bold;
}

/* delete button */

.delBtn {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
    margin: 5px;
}

/* menu options */

.menuOptions > button {
    margin: 7px;
}

/* footer */

footer > a {
    color: #946c00;
}