/* menu styling */
.tile > h2 {
    padding: 0.5em;
}

.seeMenuSub {
    padding: 0.5em;
}

/* drinks styling */

.drinkResult {
    border: 1px solid black;
    padding: 1em;
        border-color: #efefef;

}

.drinkResult > p {
    padding: 0.5em;
}

.drinkResult > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
}

.drinks > li {
    padding: 0.5em;
}


/* food styling */

.food-result {
    border: 1px solid black;
    padding: 1em;
    border-color: #efefef;

}

.food-result > p {
    padding: 0.5em;
}

.food-result > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
}

.entrees > li {
    padding: 0.5em;
}