button {
    cursor: pointer;
}

/* menu styling */
.tile > h2 {
    padding: 0.5em;
}

.seeMenuSub {
    padding: 0.5em;
}

/* drinks styling */

.drinkResult {
    border: 1px solid black;
    padding: 1em;
        border-color: #efefef;

}

.drinkResult > p {
    padding: 1em;
}

.drinkResult > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
}

.drinks > li {
    padding: 0.5em;
}


/* starter styling */

.starter-result {
    border: 1px solid black;
    padding: 1em;
    border-color: #efefef;

}

.starter-result > p {
    padding: 0.5em;
}

.starter-result > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
}

.starter > li {
    padding: 0.5em;
}

/* starter styling */

.entree-result {
    border: 1px solid black;
    padding: 1em;
    border-color: #efefef;

}

.entree-result > p {
    padding: 0.5em;
}

.entree-result > button {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
}

.entree > li {
    padding: 0.5em;
}

/* delete button */

.delBtn {
    color: #946c00;
    padding: 0.5em;
    border-radius: 6px;
    margin: 5px;
}
